{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        background-color: #f0f4f8;
        font-family: 'Inter UI', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px; /* Navbar yüksekliğine göre ayarlayın */
        padding-bottom: 200px; /* Footer yüksekliğine göre ayarlayın */
    }

    .login-box {
        display: flex;
        width: 80%;
        max-width: 1000px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .login-left, .login-right {
        flex: 1;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-left {
        background-color: #41c389;
        color: white;
        text-align: center;
    }

    .login-left i {
        font-size: 100px;
        color: #b7e4c7;
        margin-bottom: 20px;
    }

    .login-left h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .login-right {
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(0,0,0,0.15);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-right h2 {
        color: #2d6a4f;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .input-group {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .input-group input {
        padding-left: 40px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        height: 45px;
        font-size: 16px;
    }

    .input-group i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: #6c757d;
    }

    .btn-primary {
        background-color: #52b788;
        border-color: #52b788;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 50px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 250px;
    }

    .btn-primary:hover {
        background-color: #40916c;
    }

    .btn-outline-dark {
        border-color: #2d6a4f;
        color: #2d6a4f;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 50px;
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;
        color: #2d6a4f;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 250px;
    }

    .btn-outline-dark:hover {
        background-color: #2d6a4f;
        color: white;
    }

    footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100%;
    }
</style>

<div class="main-content">
    <div class="login-box">
        <div class="login-left">
            <i class="fas fa-lock"></i>
            <h1>{% trans "Password Reset" %}</h1>
        </div>
        <div class="login-right">
            <h2>{% trans "Reset Your Password" %}</h2>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    {{ form.email|as_crispy_field }}
                </div>
                <button class="btn btn-primary" type="submit">{% trans "Reset My Password" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
