{% load i18n %}
{% autoescape off %}
Subject: {% blocktranslate %}Password reset on {{ site_name }}{% endblocktranslate %}

{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
{% blocktranslate %}Please go to the following page and choose a new password:{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}Your username, in case you’ve forgotten: {{ user.get_username }}{% endblocktranslate %}

{% blocktranslate %}Thanks for using our site!{% endblocktranslate %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
{% endautoescape %}
